.benefit {
    
    &__content {
        padding-top: 133px;
        padding-bottom: 131px;
        color: $purple;
        display: flex;
        justify-content:space-around;
    }

    &__list {
        display: flex;
    }

    &__block {
        text-align: center;
    }

    ._center {
        margin-right: 92px;
        margin-left: 92px;
    }

    &__name {
        @include h3fonts();
        line-height: 68px;
    }

    &__text {
        margin-top: 14px;
        font-family: 'Proxima Nova Rg';
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
    }
}

@media (max-width: ($md4 + px)) {
    .benefit{
        &__list {
            display: flex;
            justify-content: center;
            flex-direction: column;       
        }
        &__block {
            margin-bottom: 68px;
        }
        &__block:last-child {
            margin-bottom: 0px;
        }
        &__content {
            padding-top: 80px;
            padding-bottom: 100px;
        }
        &__text {
            font-size: 13px;
            line-height: 16px;
        }
        &__name {
            font-size: 42px;
            line-height: 50px;
        }
    }     
}

@media (max-width: 840px) {
    .benefit{
        &__list {
            display: flex;
            justify-content: center; 
            flex-direction: column;      
        }
        &__block {
            margin-bottom: 50px;
        }
        &__block:last-child {
            margin-bottom: 0px;
        }
    }
}
