.header {
    padding-top: 32px;
    &__menu {
        padding-top: 48px;
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.menu {

    &__icon {
    }

    &__body {
    }

    &__list {
        display: flex;
        li {
            margin-left: 28px;
        }
    }

    &__link {
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        font-family: 'Proxima Nova Rg';
        @media (min-width: ($md2+px)) {
            & {
                position: relative;
                display: inline-block;
            }
            &::after {
                content: "";
                position: absolute;
                top: 24px;
                left: 50%;
                display: block;
                background: none repeat scroll 0 0 transparent;
                height: 3px;
                width: 0;
                background: $orange;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
            }
            &:hover::after {
                width: 100%; 
                left: 0; 
            }
        }
    }
}


