$minWidth: 320px;
$maxWidth: 1600;
$maxWidthContainer: 993;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$orange: #FF8B00;
$purple: #7050E5;

._container {
    
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    @media (max-width: ($md1 + px)) {
        max-width: 750px;
    }
    @media (max-width: ($md2 + px)) {
        max-width: none;
        padding: 0 10px;
    }
    @media (max-width:992px) {
        width: 100%;
    }
    
}

@mixin h3fonts() {
    font-family: 'Proxima Nova Rg';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: $purple;
}

@import "_main";
@import "_reset";
@import "_header";
@import "_home";
@import "_benefit";
@import "_wwd";
@import "_product-spotlight";
@import "_contacts";
@import "_footer";

